### Data Description
NMSS has provided data on donations for the MS bike for America events from 2013-2017.  The data set contains information about the donors, as well as the participant associated with the donation as well as the event.

In [1]:
# import python packages
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import re

In [2]:
# Import datasets for donations
don_2013 = pd.read_csv("data/2013 Bike Donations.csv", encoding = "ISO-8859-1")
don_2014 = pd.read_csv("data/2014 Bike Donations.csv", encoding = "ISO-8859-1")
don_2015 = pd.read_csv("data/2015 Bike Donations.csv", encoding = "ISO-8859-1")
don_2016 = pd.read_csv("data/2016 Bike Donations.csv", encoding = "ISO-8859-1")
don_2017 = pd.read_csv("data/2017 Bike Donations.csv", encoding = "ISO-8859-1")

C:\Users\Wesley\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (13,14,15,18,29,33,34,35,36,38,41,42,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Wesley\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (6,7,13,15,18,29,33,34,35,36,38,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Wesley\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (14,15,18,29,33,34,35,36,38,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Wesley\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1,3,7,13,15,18,29,33,34,35,36,38,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Wesley\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3,7,13,15,18,29,33,34,35,36,38,40,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [51]:
#Combine into 1 data frame for easy processing
combined_don = don_2013.append([don_2014, don_2015, don_2016, don_2017])

In [52]:
#Check the number of rows
combined_don.shape

(3807376, 49)

In [53]:
# Remove Unnecessary Columns
combined_don = combined_don.drop(['Public Event Name','Campaign Title', 'User Confirmation Code', 'Source Code Type', 
                          'Source Code Text', 'Sub Source Code Text', 'Offline Status', 'Donor City', 'Donor County', 
                         'Donor ZIP','Net Transaction Amount', 'Ledger Transaction Amount', 'Batch ID', 'Team Name',
                          'Proxy Type', 'Original Value Transacted' ], axis=1)

In [54]:
#Check data
combined_don.head()

,Security Category Name,Event ID,Fiscal Year,Event Date,Campaign ID,Gift Amount($),Date Recorded,Gift Type,Gift Payment Method,Soft Credit Type,...,Participation Type Name,Registration Active Status,Registration Date,Participant Goal($),Is Prior Participant,Is Team Captain,Additional Gift Amount($),Team,Team Creation Date,Original Value Transacted
0,ALC Bike Events,17966,2013,10/6/2012 11:22,32881,100,9/14/2012 17:34,online,Credit Card,Teamraiser Participant Gift,...,Rider,Active,9/2/2012 18:40,1500,NaN,True,0,307893,9/2/2012 18:40,100
1,ALC Bike Events,17966,2013,10/6/2012 11:22,32881,50,9/21/2012 14:10,online,Credit Card,Teamraiser Participant Gift,...,Rider,Active,9/2/2012 18:40,1500,NaN,True,0,307893,9/2/2012 18:40,50
2,ALC Bike Events,17966,2013,10/6/2012 11:22,32881,25,9/21/2012 10:43,online,Credit Card,Teamraiser Participant Gift,...,Rider,Active,9/2/2012 18:40,1500,NaN,True,0,307893,9/2/2012 18:40,25
3,ALC Bike Events,17966,2013,10/6/2012 11:22,32494,70,10/2/2012 15:58,online,Credit Card,Teamraiser Participant Gift,...,Team Rider,Active,8/9/2012 23:22,750,NaN,False,0,286443,2/29/2012 15:57,70
4,ALC Bike Events,17966,2013,10/6/2012 11:22,32881,25,8/17/2012 14:15,online,Credit Card,Teamraiser Participant Gift,...,Team Rider,Active,8/9/2012 23:22,750,NaN,False,0,286443,2/29/2012 15:57,25

In [55]:
#Check data types.  Several variables will need to be converted to numeric
combined_don.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3807376 entries, 0 to 627497
Data columns (total 34 columns):
Security Category Name        object
Event ID                      object
Fiscal Year                   object
Event Date                    object
Campaign ID                   object
Gift Amount($)                object
Date Recorded                 object
Gift Type                     object
Gift Payment Method           object
Soft Credit Type              object
Is Registration?              object
Donor ConsID                  object
Donor Member ID               object
Donor Affiliate Code          object
Donor Gender                  object
Donor Accept Email            object
Donor Opt-out Date            object
Donor Opt-out Method          object
Donor Email Status            object
Donor State                   object
Donor Employer                object
Donor Connection to MS        object
Participant Contact ID        float64
Participant Member ID         object
Participation Type Name       object
Registration Active Status    object
Registration Date             object
Participant Goal($)           object
Is Prior Participant          object
Is Team Captain               object
Additional Gift Amount($)     object
Team                          object
Team Creation Date            object
Original Value Transacted     object
dtypes: float64(1), object(33)
memory usage: 1016.7+ MB

In [56]:
#Check null values
combined_don.isnull().sum()

Security Category Name              0
Event ID                            0
Fiscal Year                         0
Event Date                         42
Campaign ID                         0
Gift Amount($)                      0
Date Recorded                       0
Gift Type                           0
Gift Payment Method                 5
Soft Credit Type                    0
Is Registration?                    0
Donor ConsID                        1
Donor Member ID                  4929
Donor Affiliate Code            15080
Donor Gender                   483829
Donor Accept Email                977
Donor Opt-out Date            1955163
Donor Opt-out Method          1946009
Donor Email Status             208621
Donor State                     25959
Donor Employer                3030392
Donor Connection to MS        1681969
Participant Contact ID          42369
Participant Member ID           47053
Participation Type Name         43824
Registration Active Status      43824
Registration Date               43824
Participant Goal($)                12
Is Prior Participant          1480729
Is Team Captain                 43823
Additional Gift Amount($)           5
Team                           505043
Team Creation Date             505037
Original Value Transacted           0
dtype: int64

In [57]:
#Drop several rows with donor information
combined_don = combined_don.dropna(subset=['Donor Member ID'], how='all')
combined_don = combined_don.dropna(subset=['Donor ConsID'], how='all')
combined_don.shape

(3802447, 34)

In [58]:
#Replace null values with reasonable values
combined_don = combined_don.fillna({'Event Date' : 'Unknown'})
combined_don = combined_don.fillna({'Gift Payment Method' : 'Credit Card'})
combined_don = combined_don.fillna({'Donor Affiliate Code' : 'N/A'})
combined_don = combined_don.fillna({'Donor Gender' : 'Not Specified'})
combined_don = combined_don.fillna({'Donor Accept Email' : 'FALSE'})
combined_don = combined_don.fillna({'Donor Opt-out Date' : 'None'})
combined_don = combined_don.fillna({'Donor Opt-out Method' : 'None'})
combined_don = combined_don.fillna({'Donor Email Status' : 'Unknown'})
combined_don = combined_don.fillna({'Donor State' : 'N/A'})
combined_don = combined_don.fillna({'Donor Employer' : 'Not Specified'})
combined_don = combined_don.fillna({'Donor Connection to MS' : 'Not Specified'})
combined_don = combined_don.fillna({'Participant Contact ID' : 'None'})
combined_don = combined_don.fillna({'Participant Member ID' : 'None'})
combined_don = combined_don.fillna({'Registration Active Status' : 'Inactive'})
combined_don = combined_don.fillna({'Participant Goal($)' : '0'})
combined_don = combined_don.fillna({'Is Prior Participant' : 'Unknown'})
combined_don = combined_don.fillna({'Additional Gift Amount($)' : '0'})
combined_don = combined_don.fillna({'Team' : 'None'})
combined_don = combined_don.fillna({'Team Creation Date' : 'N/A'})
combined_don = combined_don.fillna({'Participation Type Name' : 'Not Specified'})
combined_don = combined_don.fillna({'Original Value Transacted' : '0'})
combined_don = combined_don.fillna({'Registration Date' : 'N/A'})
combined_don = combined_don.fillna({'Is Team Captain' : 'No'}).fillna({'Is Team Captain' : 'No'})

In [103]:
#Rename columns to get rid of dollar signs
combined_don = combined_don.rename(columns={'Additional Gift Amount($)': 'Additional Gift Amount'})
combined_don = combined_don.rename(columns={'Gift Amount($)': 'Gift Amount'})
combined_don = combined_don.rename(columns={'Participant Goal($)': 'Participant Goal'})

In [12]:
#Verify null values have been filled
combined_don.isnull().sum()

Security Category Name        0
Event ID                      0
Fiscal Year                   0
Event Date                    0
Campaign ID                   0
Gift Amount                   0
Date Recorded                 0
Gift Type                     0
Gift Payment Method           0
Soft Credit Type              0
Is Registration?              0
Donor ConsID                  0
Donor Member ID               0
Donor Affiliate Code          0
Donor Gender                  0
Donor Accept Email            0
Donor Opt-out Date            0
Donor Opt-out Method          0
Donor Email Status            0
Donor State                   0
Donor Employer                0
Donor Connection to MS        0
Participant Contact ID        0
Participant Member ID         0
Participation Type Name       0
Registration Active Status    0
Registration Date             0
Participant Goal($)           0
Is Prior Participant          0
Is Team Captain               0
Additional Gift Amount        0
Team                          0
Team Creation Date            0
Original Value Transacted     0
dtype: int64

In [60]:
#Check value types for Gift Type
combined_don['Gift Type'].value_counts()

online         3022710
offline         779723
Credit Card          5
Check                3
ojline               2
onlina               2
ofbline              1
onhine               1
Name: Gift Type, dtype: int64

In [61]:
#Fix null values and convert to numeric for easy processing
combined_don['Gift Type'] = combined_don['Gift Type'].map({'online' : 1, 'offline' : 0, 'Check' : 0, 'ofbline': 0, 'onlina' : 1,
                                                          'ojline' : 1, 'onhine' : 1, 'Credit Card' : 1})

In [62]:
combined_don['Gift Type'].value_counts()

1    3022715
2     779732
Name: Gift Type, dtype: int64

In [63]:
#Some values for Gift Amount came in as dates.  Most likely the columns are off, best to drop the rows.
print(combined_don['Gift Amount'].iloc[[1065691]])

184883    8/29/2014 20:31
Name: Gift Amount, dtype: object

In [64]:
#Remove 5 rows that did not import correctly
combined_don = combined_don.drop(combined_don.index[1065691])
combined_don = combined_don.drop(combined_don.index[2972895])
combined_don = combined_don.drop(combined_don.index[3106511])
combined_don = combined_don.drop(combined_don.index[3139560])
combined_don = combined_don.drop(combined_don.index[3372868])

In [65]:
#Check basic statistics for Gift Amount
combined_don['Gift Amount'].describe()

count     3802423.0
unique      15048.0
top            50.0
freq       681794.0
Name: Gift Amount, dtype: float64

In [66]:
#Convert to numeric
combined_don['Gift Amount'] = pd.to_numeric(combined_don['Gift Amount'])

In [67]:
#Check to make sure highest donations are reasonable and not typos
combined_don.sort_values(by=['Gift Amount'], ascending=False).head(10)

,Security Category Name,Event ID,Fiscal Year,Event Date,Campaign ID,Gift Amount,Date Recorded,Gift Type,Gift Payment Method,Soft Credit Type,...,Participation Type Name,Registration Active Status,Registration Date,Participant Goal($),Is Prior Participant,Is Team Captain,Additional Gift Amount,Team,Team Creation Date,Original Value Transacted
582630,UTU Bike Events,28813,2017,6/24/2017 10:18,45044,149175.0,10/4/2017 11:33,2,Check,Teamraiser Event Gift,...,Not Specified,Inactive,N/A,0,Unknown,No,0,None,N/A,149175
641271,UTU Bike Events,27426,2016,6/25/2016 14:25,44282,142250.0,11/4/2016 11:00,2,Check,Teamraiser Event Gift,...,Not Specified,Inactive,N/A,0,Unknown,No,0,None,N/A,142250
15666,CAL Bike Events,21167,2014,10/12/2013 18:45,36854,138000.0,10/10/2013 12:49,2,Check,Teamraiser Participant Gift,...,Cyclist,Active,1/25/2013 13:29,60000,Yes,False,0,None,N/A,138000
723357,UTU Bike Events,24736,2015,6/27/2015 12:33,35576,122195.0,8/25/2015 0:00,2,Check,Teamraiser Event Gift,...,Not Specified,Inactive,N/A,0,Unknown,No,0,None,N/A,122195
774157,UTU Bike Events,22337,2014,6/28/2014 9:39,35576,108453.0,9/2/2014 9:07,2,Check,Teamraiser Event Gift,...,Not Specified,Inactive,N/A,0,Unknown,No,0,None,N/A,108453
825336,UTU Bike Events,19245,2013,6/29/2013 8:42,35576,100202.0,8/27/2013 14:43,2,Check,Teamraiser Event Gift,...,Not Specified,Inactive,N/A,0,Unknown,No,0,None,N/A,100202
189331,KSG Bike Events,22790,2014,9/13/2014 10:19,35553,100000.0,9/30/2014 14:08,2,Check,Teamraiser Participant Gift,...,Cyclist,Active,9/18/2013 14:46,250001,Yes,TRUE,0,353896,9/18/2013 14:46,100000
65989,COC Bike Events,22981,2014,8/16/2014 15:27,39153,100000.0,8/13/2014 0:00,2,Check,Teamraiser Participant Gift,...,Two-Day Participant,Active,1/7/2014 16:55,30000,Yes,True,0,359192,11/11/2013 11:08,100000
18674,CAL Bike Events,23843,2015,10/11/2014 11:01,35535,100000.0,10/1/2014 18:12,2,Check,Teamraiser Event Gift,...,Not Specified,Inactive,N/A,0,Unknown,No,0,None,N/A,100000
86323,COC Bike Events,22980,2014,6/28/2014 15:03,37834,100000.0,8/15/2014 0:00,2,Check,Teamraiser Participant Gift,...,Two-Day Participant,Active,1/30/2014 12:07,400,Yes,False,0,None,N/A,100000

### Gift amounts seem reasonable, so we will go ahead and accept them.

In [68]:
#Check entries for Gift Payment Method
combined_don['Gift Payment Method'].value_counts()

Credit Card    3065034
Check           657530
Cash             79854
confirmed            3
Credit Car`          2
Name: Gift Payment Method, dtype: int64

In [69]:
#Drop erronous value
combined_don = combined_don[combined_don['Gift Payment Method'] != 'confirmed']

In [70]:
#Correct entries and convert to numeric
combined_don['Gift Payment Method'] = combined_don['Gift Payment Method'].replace({'Credit Card' : 1, 'Check' : 2,
                                                                               'Cash' : 3, 'Credit Car`': 1})

In [71]:
#Check values
combined_don['Gift Payment Method'].value_counts()

1    3065036
2     657530
3      79854
Name: Gift Payment Method, dtype: int64

In [72]:
#Check entries for Soft Credit Type
combined_don['Soft Credit Type'].value_counts()

Teamraiser Participant Gift    3760099
Teamraiser Team Gift             33326
Teamraiser Event Gift             8988
Teamraiser Participant Cift          2
Teamraiser Participant Gifp          2
Teamraiser Participanp Gift          1
Taamraiser Participant Gift          1
FALSE                                1
Name: Soft Credit Type, dtype: int64

In [73]:
#Remove incorrect row
combined_don = combined_don[combined_don['Soft Credit Type'] != 'FALSE']

In [74]:
#Fix spelling errors and convert to numeric
combined_don['Soft Credit Type'] = combined_don['Soft Credit Type'].replace({'Teamraiser Participant Gift' : 1, 'Teamraiser Participant Cift' : 1,
                                                           'Teamraiser Participant Gifp' : 1, 'Teamraiser Participanp Gift': 1,
                                                           'Taamraiser Participant Gift' : 1, 'Teamraiser Team Gift' : 2, 
                                                           'Teamraiser Event Gift' : 3})

In [75]:
#Check values for Is Registration
combined_don['Is Registration?'].value_counts()

False    3235383
True      354419
FALSE     189785
TRUE       22829
BALSE          3
Name: Is Registration?, dtype: int64

In [76]:
#Convert to numeric
combined_don['Is Registration?'] = combined_don['Is Registration?'].replace({'False' : 0, 'FALSE' : 0, 'BALSE' : 0, 'True': 1,
                                                           'TRUE' : 1})

In [80]:
#Check values for Donor Gender
combined_don['Donor Gender'].value_counts()

Male             1671013
Female           1649953
Not Specified     481418
F                     17
Femala                 4
U                      3
Feiale                 2
M                      2
Famale                 1
Iale                   1
Name: Donor Gender, dtype: int64

In [81]:
#Drop rows with incorrect values
combined_don = combined_don[combined_don['Donor Gender'] != 'TRUE']
combined_don = combined_don[combined_don['Donor Gender'] != 'FALSE']

In [82]:
#Fix spelling errors and convert to numeric
combined_don['Donor Gender'] = combined_don['Donor Gender'].replace({'Male' : 0, 'M' : 0, 'Female' : 1, 'Iale': 0,
                                                           'Femala' : 1, 'Feiale' : 1, 'Famale' : 1,
                                                           'Not Specified' : 2})

In [83]:
#Check entries for Donor Accept Email
combined_don['Donor Accept Email'].value_counts()

False    1840245
True     1814772
TRUE       75877
FALSE      71518
PRUE           1
BALSE          1
Name: Donor Accept Email, dtype: int64

In [84]:
#Drop rows with incorrect values
combined_don = combined_don[combined_don['Donor Accept Email'] != 'FALSE(9/14/2011 10:16']
combined_don = combined_don[combined_don['Donor Accept Email'] != 'TRUE(']

In [85]:
#Fix spelling errors and convert to numeric
combined_don['Donor Accept Email'] = combined_don['Donor Accept Email'].replace({'False' : 0, 'FALSE' : 0, 'BALSE' : 0, 
                                                                                'True': 1, 'TRUE' : 1, 'PRUE' : 1})

In [86]:
#Check entries for Donor Opt-out Method
combined_don['Donor Opt-out Method'].value_counts()

None                    1941429
Constituent Update       831703
Unsubscribe Link         567808
Data Sync                434918
Administrator Update      26549
Constituant Update            2
Unsubscribe Hink              1
@ata Sync                     1
Unknown                       1
Constituenp Update            1
Unsubscribe Lijk              1
Name: Donor Opt-out Method, dtype: int64

In [87]:
#Drop rows with incorrect values
combined_don = combined_don[combined_don['Donor Opt-out Method'] != 'Good']

In [88]:
#Fix spelling errors and convert to numeric
combined_don['Donor Opt-out Method'] = combined_don['Donor Opt-out Method'].replace({'Constituent Update' : 1, 'Constituant Update' : 1,
                                                           'Unsubscribe Link' : 2, 'Unsubscribe Lijk': 2, 'Constituenp Update' : 1,
                                                           'Data Sync' : 3, '@ata Sync' : 3, 'Unknown' : 0, 'None' : 0,
                                                           'Administrator Update' : 4, 'Unsubscribe Hink': 2,})

In [90]:
#Check entries for Donor Email Status
combined_don['Donor Email Status'].value_counts()

Good                 2987939
Unknown               482408
Bad (Hard Bounce)     242712
Bad (Soft Bounce)      89348
Goo`                       1
Sun Valley                 1
Bad (Soft Bkunce)          1
Cood                       1
Good(Philadelphia          1
Bad (Sofp Bounce)          1
Gkod                       1
Name: Donor Email Status, dtype: int64

In [91]:
#Drop rows with incorrect values
combined_don = combined_don[combined_don['Donor Email Status'] != 'Good(Philadelphia']
combined_don = combined_don[combined_don['Donor Email Status'] != 'Sun Valley']

In [92]:
#Fix spelling errors and convert to numeric
combined_don['Donor Email Status'] = combined_don['Donor Email Status'].replace({'Good' : 1, 'Gkod' : 1,
                                                           'Goo`' : 1, 'Cood': 1, 'Unknown' : 0, 'Bad (Soft Bkunce)' : 2,
                                                           'Bad (Hard Bounce)' : 2, 'Bad (Soft Bounce)' : 2,
                                                           'Bad (Sofp Bounce)' : 2, 'Unsubscribe Hink': 2})

In [93]:
#Check entries for Donor Connection to MS
combined_don['Donor Connection to MS'].value_counts()

Not Specified                              1680464
Friend has MS                               833637
None                                        345583
Relative has MS                             310177
Blank                                       215627
Other                                       130453
I have MS                                    94596
Sibling has MS                               59975
Parent has MS                                52060
Spouse has MS                                35610
Child has MS                                 30452
I have a Friend or Co-worker with MS          9812
Caregiver of Person with MS                   2023
Possible MS                                    875
Care Manager of Person with MS                 738
Relative: other                                 63
Relative: Spouse of person with MS              36
Relative: Child of person with MS               31
I have a Friend of Co-worker with MS            30
Relative: Parent of person with MS              25
Relative: Sibling of person with MS             25
Caregiver of person with MS                     23
Relative: Other                                 14
My friend has MS                                13
My sibling has MS                               10
My spouse has MS                                 9
I have a friend or co-worker with MS             9
No connection                                    7
Brother had MS                                   5
My relative has MS                               4
My child has MS                                  4
Relative: Child or person with MS                4
My parent has MS                                 2
FRIEND CLIEN                                     2
7104697                                          1
(14068228                                        1
2157460                                          1
Other(15767842                                   1
Bhank                                            1
1707635                                          1
1994569                                          1
16246098                                         1
Wife has MS                                      1
(4564506                                         1
9588529                                          1
Nkne                                             1
Relative has MS(12975626                         1
I am a care manager of a person with MS          1
Name: Donor Connection to MS, dtype: int64

In [94]:
#Drop rows with incorrect values
combined_don = combined_don[combined_don['Donor Connection to MS'] != '1707635']
combined_don = combined_don[combined_don['Donor Connection to MS'] != '7104697']
combined_don = combined_don[combined_don['Donor Connection to MS'] != '2157460']
combined_don = combined_don[combined_don['Donor Connection to MS'] != 'Other(15767842']
combined_don = combined_don[combined_don['Donor Connection to MS'] != '(14068228']
combined_don = combined_don[combined_don['Donor Connection to MS'] != '1994569']
combined_don = combined_don[combined_don['Donor Connection to MS'] != '16246098']
combined_don = combined_don[combined_don['Donor Connection to MS'] != '(4564506']
combined_don = combined_don[combined_don['Donor Connection to MS'] != 'Relative has MS(12975626']
combined_don = combined_don[combined_don['Donor Connection to MS'] != '9588529']

In [95]:
#There are many different values, so we will set 0 to no relation and set 1 to any relation
combined_don['Donor Connection to MS'] = combined_don['Donor Connection to MS'].map({'None' : 0, 'Blank' : 0,
                                                           'Other' : 0, 'Not Specified' : 0, 'Bhank' : 0,
                                                            'No connection' : 0})

In [96]:
#Fill null values created with 1
combined_don = combined_don.fillna({'Donor Connection to MS' : 1})

In [98]:
#Check values
combined_don['Donor Connection to MS'].value_counts()

0.0    2372135
1.0    1430267
Name: Donor Connection to MS, dtype: int64

In [99]:
#Check entries for Registration Active Status
combined_don['Registration Active Status'].value_counts()

Active                   3740187
Inactive                   62203
Acpive                         4
Actire                         3
9/20/2013 11:37                1
Active(4/1/2016 23:58          1
2/14/2012 16:52                1
1/17/2016 23:48                1
10/22/2015 6:54                1
Name: Registration Active Status, dtype: int64

In [100]:
#Drop rows with incorrect values
combined_don = combined_don[combined_don['Registration Active Status'] != '9/20/2013 11:37']
combined_don = combined_don[combined_don['Registration Active Status'] != 'Active(4/1/2016 23:58']
combined_don = combined_don[combined_don['Registration Active Status'] != '2/14/2012 16:52']
combined_don = combined_don[combined_don['Registration Active Status'] != '10/22/2015 6:54']
combined_don = combined_don[combined_don['Registration Active Status'] != '1/17/2016 23:48']

In [102]:
#Fix spelling errors and convert to numeric
combined_don['Donor Email Status'] = combined_don['Registration Active Status'].replace({'Active' : 1, 'Acpive' : 1,
                                                           'Actire' : 1, 'Inactive': 0})

In [116]:
#Drop rows with incorrect values
combined_don = combined_don.drop(combined_don.index[652423])
combined_don = combined_don.drop(combined_don.index[1550992])
combined_don = combined_don.drop(combined_don.index[2224757])
combined_don = combined_don.drop(combined_don.index[2867237])
combined_don = combined_don.drop(combined_don.index[2885030])
combined_don = combined_don.drop(combined_don.index[2938448])

In [117]:
combined_don['Participant Goal'] = pd.to_numeric(combined_don['Participant Goal'])

In [118]:
combined_don['Participant Goal'].describe()

count    3.802369e+06
mean     5.911196e+03
std      1.057181e+06
min      0.000000e+00
25%      4.000000e+02
50%      1.000000e+03
75%      2.000000e+03
max      5.000000e+08
Name: Participant Goal, dtype: float64

In [127]:
combined_don.sort_values(by=['Participant Goal'], ascending=False).head(10)

,Security Category Name,Event ID,Fiscal Year,Event Date,Campaign ID,Gift Amount,Date Recorded,Gift Type,Gift Payment Method,Soft Credit Type,...,Participation Type Name,Registration Active Status,Registration Date,Participant Goal,Is Prior Participant,Is Team Captain,Additional Gift Amount,Team,Team Creation Date,Original Value Transacted
77427,COC Bike Events,25572,2015,6/27/2015 13:42,40995,0.0,1/9/2015 13:56,1,1,1,...,Fort Collins Loop,Active,1/9/2015 13:56,21474836.47,Yes,False,0,414256,1/9/2015 12:28,40
477440,PAE Bike Events,25223,2015,9/26/2015 10:47,41715,100.0,10/1/2015 21:54,1,1,1,...,Cyclist,Active,4/22/2015 15:47,21474836.47,Yes,False,0,404856,10/10/2014 11:04,100
477442,PAE Bike Events,25223,2015,9/26/2015 10:47,41715,50.0,9/22/2015 18:36,1,1,1,...,Cyclist,Active,4/22/2015 15:47,21474836.47,Yes,False,0,404856,10/10/2014 11:04,50
477443,PAE Bike Events,25223,2015,9/26/2015 10:47,41715,25.0,10/2/2015 19:59,1,1,1,...,Cyclist,Active,4/22/2015 15:47,21474836.47,Yes,False,0,404856,10/10/2014 11:04,25
477449,PAE Bike Events,25223,2015,9/26/2015 10:47,41715,700.0,10/21/2015 9:23,2,2,1,...,Cyclist,Active,4/22/2015 15:47,21474836.47,Yes,False,0,404856,10/10/2014 11:04,700
477448,PAE Bike Events,25223,2015,9/26/2015 10:47,41715,50.0,9/16/2015 11:58,1,1,1,...,Cyclist,Active,4/22/2015 15:47,21474836.47,Yes,False,0,404856,10/10/2014 11:04,50
477447,PAE Bike Events,25223,2015,9/26/2015 10:47,41715,50.0,9/16/2015 21:22,1,1,1,...,Cyclist,Active,4/22/2015 15:47,21474836.47,Yes,False,0,404856,10/10/2014 11:04,50
477446,PAE Bike Events,25223,2015,9/26/2015 10:47,41715,200.0,9/29/2015 7:23,2,2,1,...,Cyclist,Active,4/22/2015 15:47,21474836.47,Yes,False,0,404856,10/10/2014 11:04,200
77425,COC Bike Events,25572,2015,6/27/2015 13:42,40995,250.0,6/26/2015 16:58,1,1,1,...,Fort Collins Loop,Active,1/9/2015 13:56,21474836.47,Yes,False,0,414256,1/9/2015 12:28,250
77426,COC Bike Events,25572,2015,6/27/2015 13:42,40995,200.0,6/8/2015 0:00,2,2,1,...,Fort Collins Loop,Active,1/9/2015 13:56,21474836.47,Yes,False,0,414256,1/9/2015 12:28,200

### Values for Participant Goal are obviously too large.  Replace any value over 100,000 with the default, 1095.

In [128]:
combined_don.loc[combined_don['Participant Goal'] > 100000] = 1095

In [129]:
#Check basic statistics for Participant Goal
combined_don['Participant Goal'].describe()

count    3.802369e+06
mean     2.337972e+03
std      5.627123e+03
min      0.000000e+00
25%      4.000000e+02
50%      1.000000e+03
75%      2.000000e+03
max      1.000000e+05
Name: Participant Goal, dtype: float64

In [130]:
#Check values for Is Prior Participant
combined_don['Is Prior Participant'].value_counts()

Yes        2321278
Unknown    1477952
1095          3138
(                1
Name: Is Prior Participant, dtype: int64

In [131]:
#Drop rows with incorrect values
combined_don = combined_don[combined_don['Is Prior Participant'] != '1095']
combined_don = combined_don[combined_don['Is Prior Participant'] != '(']

In [132]:
combined_don['Is Team Captain'].value_counts()

False    2711922
FALSE     549333
True      402962
TRUE       91241
No         43767
1095        3138
PRUE           2
BALSE          2
FALSA          1
Name: Is Team Captain, dtype: int64

In [133]:
combined_don['Is Team Captain'] = combined_don['Is Team Captain'].replace({'False' : 0, 'FALSE' : 0, 'BALSE' : 0, 'FALSA' : 0,
                                                           'No' : 0, 'True': 1, 'TRUE' : 1, 'PRUE' : 1})

In [144]:
combined_don.shape

(3802363, 34)

### Data Quality Assessment
Overall, the data quality of this data set is pretty good.  There were some errors and misspelled values as well as some rows data not importing into the correct columns.  Also, several key columns had a significant number of null values.  After cleaning and transformation the dataset is ready for analysis.